.character-flex-container {
  display: flex;
  flex-flow: row wrap;
}
.character-flex-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 250px;
  max-width: 500px;
  padding: 10px;
  margin: 20px;
  border: 2px black solid;
  border-radius: 8px;
}
.image-div {
  height: 200px;
  text-align: center;
} 
img{
  max-width: 95%;
  max-height: 95%;
  border-radius: 8px;
}